
<body>
  <!-- // Intro -->
  <header id="about">
    <a href="resume.pdf" download class="btn download">Download Resume</a>
    <nav>
      <a href="#about">About</a>
      <a href="#work">Work Experience</a>
      <a href="#extra">Extracurricular Activities</a>
      <a href="#education">Education</a>
      <a href="#contact">Contact</a>
    </nav>
    <div class="content-wrap">
      <%= image_tag "grad_pic1.jpg", class: "profile-img col-narrow"%>
      <div class="col-wide">
        <h1 class="myname">Yilin Tian</h1>
        <h2 class="occupation">Business Analyst & World Explorer</h2>
        <p class="introduction">I am a recent graduate from UCSD with a Bachelor's degree in math with a focus on business analytics. Besides my academic background, I am also a painter, traveler and Oprah singer!</p>
      </div>
    </div>
  </header>

  <main>
    <!-- // Work Experience -->
    <section id="work" class="work">
      <div class="content-wrap">
        <h2 class="experience">Work Experience</h2>

        <!-- Job 1 Details -->
        <div class="col-narrow">
          <h3>Client's Service Representative</h3>
          <p class="uppercase">Bank of America</p>
          <p>Nov 2017 - Aug 2018</p>
        </div>

        <div class="col-wide job-description">
          <p>Responsibilities:</p>
          <ul>
              <li>Prepared daily balance sheet, CTR and MIS reports for goverment.</li>
              <li>Handled operations in foreign currency exchange and provided excellent customer service.</li>
              <li>Participated in daily discussion of BOA stock's oscillation, based on which to provide recommendation of company's financial products and services for clients, always meeting a 3% of monthly successful referral rate.</li>
              <li>Performed routinely branch’s closing procedures.</li>
          </ul>
          <%= image_tag "boa1.jpg", class: "boa-img col-wide"%>
        </div>

        <!-- Job 2 Details -->
        <div class="col-narrow">
          <h3>Co-Founder</h3>
          <p class="uppercase">Feeling Education</p>
          <p>May 2017 - Nov 2017</p>
        </div>
        <div class="col-wide job-description">
          <p>Created an online matching platform, similar to Airbnb, to connect between Chinese students and foreign local tutors.</p>
          <p>Key contributions:</p>
          <ul>
              <li>Created the promotion video in collaboration with the other co-founder from Stanford.</li>
              <li>Organized weekly online meeting, delegated tasks to teammates and facilitated communication in the team.</li>
              <li>Actively participated in fundraising events and startup accelerator programs at Stanford and connected with other entrepreneurs.</li>
          </ul>

          <p>Main page</p>
          <%= image_tag "feelingedu3.jpg", class: "feeling-img col-medium"%>
        </div>

        <!-- Job 3 Details -->
        <div class="col-narrow">
          <h3>Financial Analyst Intern</h3>
          <p class="uppercase">Johnson & Johnson</p>
          <p>Jun 2016 - Sept 2016</p>
        </div>

        <div class="col-wide job-description">
          <p>Responsibilities:</p>
          <ul>
              <li>Performed gross profit analysis for equipment used for sterilization to ensure legal compliance.</li>
              <li>Calculated service costs of capital machines.</li>
              <li>Provided analytics to track cost improvement projects.</li>
          </ul>
        </div>

        <!-- Job 3 Details -->
        <div class="col-narrow">
          <h3>Accounting Intern</h3>
          <p class="uppercase">Harbin Jiaxin Tax Agent Office</p>
          <p>Jun 2015 - Sept 2015</p>
        </div>

        <div class="col-wide job-description">
          <p>Responsibilities:</p>
          <ul>
              <li>Filed tax returns and prepared for governmental reports in compliance with strict standard.</li>
              <li>Analyzed monthly balance sheet accounts for corporate reporting.</li>
              <li>Cooperated with engineering, manufacturing and corporate accountants to verify the quality standards.</li>
              <li>Modified a comprehensive financial reporting package to reflect growing organizational complexity.</li>
          </ul>
          <%= image_tag "accounting.jpg", class: "accounting-img col-medium"%>
        </div>
      </div>
    </section>

    <section id="extra" class="work">
      <div class="content-wrap">
        <h2 class="experience">Extracurricular Activities</h2>

        <div class="col-narrow">
          <h3>Oprah Singer</h3>
          <p class="uppercase">Level 9 with certificate</p>
        </div>

        <div class="col-wide job-description">
          <p class="pho-text">Singing Competition at PCC!</p>
          <div id="myCarousel4" class="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel4" data-slide-to="1"></li>
              <li data-target="#myCarousel4" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <%= image_tag "sing1.jpg", class: "d-block w-100 img-responsive", alt:"First slide"%>
              </div>
              <div class="item">
                <%= image_tag "sing2.jpg", class: "d-block w-100 img-responsive", alt:"Second slide"%>
              </div>

            </div>
            <a class="carousel-control left" href="#myCarousel4" data-slide="prev">
              <span class="icon-prev"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel4" data-slide="next">
              <span class="icon-next"></span>
            </a>
          </div>
          <p></p>
          <p>Check out my performance!</p>
          <p>See my performance video at <a href="https://www.youtube.com/watch?v=YQHsXMglC9A" target="_blank">oprah</a>.</p>
          <!-- <div><img class="artwork-img col-medium" src="images/artwork.jpg" alt="artwork"></div> -->
        </div>

        <div class="col-narrow">
          <h3>Painter</h3>
          <p class="uppercase">Hobby</p>
        </div>

        <div class="col-wide job-description">
          <p class="pho-text">My Artworks!</p>
          <div id="myCarousel3" class="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel3" data-slide-to="1"></li>
              <li data-target="#myCarousel3" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <%= image_tag "artwork.jpg", class: "d-block w-100 img-responsive", alt:"First slide"%>
              </div>
              <div class="item">
                <%= image_tag "artwork2.jpg", class: "d-block w-100 img-responsive", alt:"Second slide"%>
              </div>
              <div class="item">
                <%= image_tag "artwork3.jpg", class: "d-block w-100 img-responsive", alt:"Third slide"%>
              </div>
              <div class="item">
                <%= image_tag "artwork4.jpg", class: "d-block w-100 img-responsive", alt:"Fourth slide"%>
              </div>

            </div>
            <a class="carousel-control left" href="#myCarousel3" data-slide="prev">
              <span class="icon-prev"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel3" data-slide="next">
              <span class="icon-next"></span>
            </a>
          </div>
        </div>

        <div class="col-narrow">
          <h3>Photographer</h3>
          <p class="uppercase">Hobby</p>
        </div>

        <div class="col-wide job-description">
          <p class="pho-text">My Shots!</p>
          <div id="myCarousel2" class="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel2" data-slide-to="1"></li>
              <li data-target="#myCarousel2" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <%= image_tag "pho1.jpg", class: "d-block w-100 img-responsive", alt:"First slide"%>
              </div>
              <div class="item">
                <%= image_tag "pho2.jpg", class: "d-block w-100 img-responsive", alt:"Second slide"%>
              </div>
              <div class="item">
                <%= image_tag "pho3.jpg", class: "d-block w-100 img-responsive", alt:"Third slide"%>
              </div>
              <div class="item">
                <%= image_tag "pho4.jpg", class: "d-block w-100 img-responsive", alt:"Fourth slide"%>
              </div>
              <div class="item">
                <%= image_tag "pho5.jpg", class: "d-block w-100 img-responsive", alt:"Fifth slide"%>
              </div>
              <div class="item">
                <%= image_tag "pho6.jpg", class: "d-block w-100 img-responsive", alt:"Six slide"%>
              </div>
              <div class="item">
                <%= image_tag "pho7.jpg", class: "d-block w-100 img-responsive", alt:"Seventh slide"%>
              </div>
              <div class="item">
                <%= image_tag "pho8.jpg", class: "d-block w-100 img-responsive", alt:"Eigth slide"%>
              </div>
            </div>
            <a class="carousel-control left" href="#myCarousel2" data-slide="prev">
              <span class="icon-prev"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel2" data-slide="next">
              <span class="icon-next"></span>
            </a>
          </div>
        </div>

        <div class="col-narrow">
          <h3>Traveler</h3>
          <p class="uppercase">Hobby</p>
        </div>

        <div class="col-wide job-description">

          <div id="myCarousel" class="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <%= image_tag "norway.jpg", class: "d-block w-100 img-responsive", alt:"First slide"%>
                <div class="carousel-caption">
                  <h3>Norway</h3>
                </div>
              </div>
              <div class="item">
                <%= image_tag "sandiego.jpg", class: "d-block w-100 img-responsive", alt:"Second slide"%>
                <div class="carousel-caption">
                  <h3>San Diego</h3>
                </div>
              </div>
              <div class="item">
                <%= image_tag "paris.jpg", class: "d-block w-100 img-responsive", alt:"Third slide"%>
                <div class="carousel-caption">
                  <h3>Paris</h3>
                </div>
              </div>
              <div class="item">
                <%= image_tag "morocco3.jpg", class: "d-block w-100 img-responsive", alt:"Six slide"%>
                <div class="carousel-caption">
                  <h3>Morocco</h3>
                </div>
              </div>
              <div class="item">
                <%= image_tag "saltlake.jpg", class: "d-block w-100 img-responsive", alt:"Seventh slide"%>
                <div class="carousel-caption">
                  <h3>Salt Lake city</h3>
                </div>
              </div>
              <div class="item">
                <%= image_tag "peru.jpg", class: "d-block w-100 img-responsive", alt:"Eigth slide"%>
                <div class="carousel-caption">
                  <h3>Peru</h3>
                </div>
              </div>
            </div>
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
              <span class="icon-prev"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
              <span class="icon-next"></span>
            </a>
          </div>
        </div>

      </div>
    </section>
    <!-- // Education -->
    <section id="education" class="education">
      <div class="content-wrap">
        <h2 class="experience">Education</h2>

        <!-- School 1 details. -->
        <h3>University of California, San Diego, La Jolla</h3>
        <p>B.S. in Mathematics with a focus on business analytics, GPA 3.5/4.0</p>
        <p>Important Courses: Numerical Analysis & Approximation, Mathematics of Finance, Mathematical Modeling, Computational Statistics, Computer Sciences</p>

        <!-- School 2 details. -->
        <h3>Pasadena City College - Pasadena, CA</h3>
        <p>GPA: 3.86/4.00</p>
        <p>General Education</p>

        <!-- School 3 details. -->
        <h3>Cypress College - Cypress, CA</h3>
        <p>GPA: 4.0/4.0</p>
        <p>General Education</p>
      </div>
    </section>
  </main>


  <!-- // Footer & contact info -->
  <footer id="contact">
    <div class="content-wrap">
      <h2>Let's Keep in Touch!</h2>

      <!-- Social media links. Add or remove any networks. -->
      <div class="contact-info">
        <a href="mailto:yit027@ucsd.edu">yit027@ucsd.edu</a>
        <a href="#">(262)366-3757</a>
      </div>
    </div>
  </footer>
</body>
</html>
